@using Controls.SelectZtree
@using ViewModels.AdminWeb.Organization
@model OrganizationViewModel
@Html.AntiForgeryToken()
@Html.HiddenFor(a => a.ID)
@Html.HiddenFor(a => a.Leader)
@Html.HiddenFor(a => a.ParentOrganizationID)
<div class="form-body">
    <h4 class="form-section">基本信息</h4>
    @Html.ValidationMessageDangerFor(a => a.CustomizeErrorMessage)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(a => a.Name, new {@class = "control-label"})
                @Html.TextBoxFor(a => a.Name, new { @class = "form-control"})
                <span class="help-block"> @Html.ValidationMessageFor(a => a.Name)</span>
            </div>
        </div>
       
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(a => a.Code, new {@class = "control-label"})
                @Html.TextBoxFor(a => a.Code, new {@class = "form-control"})
                <span class="help-block"> @Html.ValidationMessageFor(a => a.Code)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(a => a.ShowIndex, new {@class = "control-label"})
                @Html.TextBoxFor(a => a.ShowIndex, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(a => a.Description, new {@class = "control-label"})
                @Html.TextAreaFor(a => a.Description, 5, 10, new {@class = "form-control"})
            </div>
        </div>
    </div>
    <h4 class="form-section">扩展信息</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(a => a.LeaderName, new { @class = "control-label" })
                @Html.ZtreeTextBoxFor(a => a.LeaderName, new { @class = "form-control", @readonly = "readonly", style = "cursor:pointer" })
                <span class="help-block"> @Html.ValidationMessageFor(a => a.Leader)</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(a => a.ParentOrganizationName, new { @class = "control-label" })
                @Html.ZtreeTextBoxFor(a => a.ParentOrganizationName, new { @class = "form-control", @readonly = "readonly", style = "cursor:pointer" })
                <span class="help-block"> @Html.ValidationMessageFor(a => a.ParentOrganizationID)</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.ValidationMessageFor(a=>a.CustomizeErrorMessage)
</div>
<div class="form-actions right">
    <button class="btn green btn-lg" type="submit">
        <i class="fa fa-save"></i> 保存
    </button>
</div>