@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/components.min.css" rel="stylesheet" />
    <link href="~/css/plugins.min.css" rel="stylesheet" />
    <link href="~/pages/css/login-5.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" />
    @RenderSection("styles",false)
</head>
<body class="login">
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 bs-reset">
                <div class="login-bg" style="background-image: url('/images/login/login/bg1.jpg');">
                    @*<img class="login-logo" src="@Url.Content("/images/login/login/logo.png")"/>*@
                </div>
            </div>
            <div class="col-md-6 login-container bs-reset">
                <div class="login-content">
                    @RenderBody()
                </div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-4 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-8 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; YXL 2017</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
        <script src="~/lib/respond.min.js"></script>
        <script src="~/lib/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/js.cookie.min.js"></script>
    <script src="~/lib/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/jquery.blockui.min.js"></script>
    <script src="~/lib/uniform/jquery.uniform.min.js"></script>
    <script src="~/lib/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/backstretch/jquery.backstretch.min.js"></script>
    <script src="~/js/app.min.js"></script>
    <script src="~/pages/js/login-5.min.js"></script>
    
    @RenderSection("Scripts",  false)
</body>
</html>
